<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['/front-page']">
        <div class="navbar-brand">Heri Gutierrez</div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://www.linkedin.com/in/heri-gutierrez-831435108" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/heri-g" target="_blank">GitHub</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../../../assets/resume/Heri-Resume-9-6-17.pdf" target="_blank">Résumé</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
